table {
  margin: auto;
}

tbody td {
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
  user-select: none;
}

th, thead td {
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #555555;
  user-select: none;
}

tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #999999;
}

tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: #226622;
}

tbody tr:nth-child(odd) td:nth-child(even) {
  background-color: #226622;
}

tbody tr:nth-child(odd) td:nth-child(odd) {
  background-color: #999999;
}

td div {
  height: 100%;
}

td div.unselected {
  border: 0.05em solid #222222;
}

td div.selected {
  border: 0.05em solid #0033c0;
  background-color: #6090F0;
}

td div.empty-target {
  border: 0.1em solid #22CCF0;
}

td div.attack-target {
  border: 0.1em solid #F00000;
}
