table {
  margin: auto;
}

.chessboard tbody td {
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
  user-select: none;
}

.chessboard th, .chessboard thead td {
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #555555;
  user-select: none;
}

.chessboard tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #999999;
}

.chessboard tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: #226622;
}

.chessboard tbody tr:nth-child(odd) td:nth-child(even) {
  background-color: #226622;
}

.chessboard tbody tr:nth-child(odd) td:nth-child(odd) {
  background-color: #999999;
}

.chessboard td div {
  height: 100%;
}

.chessboard td div.unselected {
  border: 0.05em solid #222222;
}

.chessboard td div.selected {
  border: 0.05em solid #0033c0;
  background-color: #6090F0;
}

.chessboard td div.empty-target {
  border: 0.1em solid #22CCF0;
}

.chessboard td div.attack-target {
  border: 0.1em solid #F00000;
}

.vertical-section {
  display: inline-block;
  vertical-align: top;
  margin: 2em;
}

.move-list td {
  padding: 0em 1em;
}
